<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warehouse.arch_demo">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.warehouse.arch_demo.application.ArchDemoApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.warehouse.arch_demo.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name="com.warehouse.arch_demo.activity.LoginActivity"/>
        <activity android:name="com.warehouse.arch_demo.activity.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.FamilyDetailActivity"/>
        <activity android:name=".activity.UserInfoActivity"/>
        <activity android:name=".activity.FamilyListActivity"/>
        <activity android:name=".activity.FamilyAddActivity"/>
    </application>

</manifest>